@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* custom css */
.navbar-brand {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.nav-link {
  color: #646464;
  margin: 0 10px;
}

.nav-link:hover:not(.dropdown-toggle) {
  color: black;
  border-bottom: 2px solid black;
}

.main-section {
  height: 100vh;
  background-color: #F1F3FF;
  position: relative;
}

.dropdown-toggle::after {
  display: none !important;
}

.btn.btn-success {
  border: 1px solid #5CB85F;
  color: #ffffff;
  box-shadow: 1px 10px 30px -10px #5CB85F;
  display: inline-block;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn.btn-success:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5CB85F;
  z-index: -2;
}

.btn.btn-success:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ffffff;
  transition: all .3s;
  z-index: -1;
}

.btn.btn-success:hover {
  color: #5CB85F;
}

.btn.btn-success:hover:before {
  width: 100%;
}

.tagline h2,
.tagline a {
  margin: 24px 0;
  text-transform: capitalize;
}

.bg-car::before {
  content: "";
  position: absolute;
  background-color: #0D28A6;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 50%;
  border-radius: 100px 0 0 0;
}

/* our-services section start*/

.d-flex p .bi-check-lg {
  background-color: #CFD4ED;
  color: #0D28A6;
  border-radius: 15px;
  padding: 3px 5px;
}

/* end of our-services section */

/* why-us section start */

.why-us .card-body {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  transition: .5s ease;
  overflow: hidden;
}

/* custom yellow transition */

.why-us .card-body.yellow:hover * {
  z-index: 9;
  color: white;
}

.why-us .card-body.yellow::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #F9CC00;
  transition: .5s ease;
  clip-path: circle(7% at 32.3px 35.3px);
}

.why-us .card-body:hover.yellow::before {
  clip-path: circle(100%);
  border-radius: 5px;
}

/* end */

/* custom red transition */

.why-us .card-body.red:hover * {
  z-index: 9;
  color: white;
}

.why-us .card-body.red::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  border-radius: 1px;
  width: 100%;
  height: 100%;
  background-color: #FA2C5A;
  transition: .5s ease;
  clip-path: circle(7% at 32.3px 34.3px);
}

.why-us .card-body:hover.red::before {
  clip-path: circle(100%);
  border-radius: 5px;
}

/* end */

/* custom red transition */

.why-us .card-body.blue:hover * {
  z-index: 9;
  color: white;
}

.why-us .card-body.blue::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  border-radius: 1px;
  width: 100%;
  height: 100%;
  background-color: #0D28A6;
  transition: .5s ease;
  clip-path: circle(7% at 32.3px 34.3px);
}

.why-us .card-body:hover.blue::before {
  clip-path: circle(100%);
  border-radius: 5px;
}

/* end */

/* custom red transition */

.why-us .card-body.green:hover * {
  z-index: 9;
  color: white;
}

.why-us .card-body.green::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  border-radius: 1px;
  width: 100%;
  height: 100%;
  background-color: #5CB85F;
  transition: .5s ease;
  clip-path: circle(7% at 32.3px 35.3px);
}

.why-us .card-body:hover.green::before {
  clip-path: circle(100%);
  border-radius: 5px;
}

/* end */

.why-us .card-body p:nth-child(2) {
  margin-top: 5%;
  font-weight: 600;
  font-size: 17px;
}

.why-us .card-body .bi {
  color: white;
  font-size: 20px;
  border-radius: 20px;
  padding: 3px 6px;
  z-index: 1;
}

/* end of why-us section */

/* testimonial section start */

.banner .container {
  background-color: #0D28A6;
  border-radius: 13px;
  color: white;
  width: 100%;
}

.banner .container * {
  margin: 16px 0;
}

.carousel-item .card {
  background-color: #F1F3FF;
  border: none;
}

.carousel-item .card .card-body img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.bi.bi-chevron-left,
.bi.bi-chevron-right {
  background-color: white;
  color: black;
  font-size: 30px;
  border: 1px solid black;
  padding: 3px 10px;
  border-radius: 35px;
}

.bi.bi-chevron-left:hover,
.bi.bi-chevron-right:hover {
  background-color: #5CB85F;
  border: 1px solid #5CB85F;
  color: white;
}

.bi.bi-star-fill {
  color: #F9CC00;
}

.carousel-item img {
  transition: all .5s;
}

.carousel-item img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* end of testimonial section */

/* faq section start */

.cursor-pointer {
  cursor: pointer;
  color: black;
}

.footer .bi {
  background-color: #0D28A6;
  margin-right: 16px;
  border-radius: 15px;
  padding: 5px 7px;
  font-size: 18px;
  color: white;
  border: 1px solid #0D28A6;
}

.footer .col-md-2 a {
  color: black;
}

.footer .col-md-2 a:hover {
  color: #0D28A6;
}

.footer .bi:hover {
  background-color: white;
  border: 1px solid #0D28A6;
  color: #0D28A6;
  transition: .5s ease;
}

/* end of faq section */

@media (max-width: 990px) {
  .main-section {
    height: auto;
  }

  .form-filter {
    margin-top: 30px !important;
  }

  .navbar-nav a:hover:not(.dropdown-toggle)::before {
    content: "> ";
  }

  .navbar-nav a:hover:not(.dropdown-toggle)::after {
    content: " <";
  }

  .navbar-nav a:hover {
    border-bottom: none !important;
  }
}

@media (max-width:767px) {
  .bg-car::before {
    height: 30%;
    width: 90%;
  }
}