@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-page {
    height: 100vh;
    overflow-x: hidden;
}

.login-title p {
    color: white;
}

.login-icon {
    display: flex;
    position: fixed;
}

.login-icon .bi-airplane-fill {
    color: #2F82FF;
    font-size: 35px;
    rotate: 45deg;
}

.login-icon p {
    font-size: 25px;
    font-weight: 700;
    color: #2F82FF;
    margin-left: 9px;
}

.register-icon {
    display: flex;
    position: fixed;
}

.register-icon .bi-airplane-fill {
    color: white;
    font-size: 35px;
    rotate: 45deg;
}

.register-icon p {
    font-size: 25px;
    font-weight: 700;
    color: white;
    margin-left: 9px;
}

.btn.btn-primary {
    border: 1px solid #2F82FF;
    color: #ffffff;
    box-shadow: 1px 10px 30px -10px #2F82FF;
    display: inline-block;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    font-size: 20px;
    padding: 1% 10% 1% 10%;
    margin-top: 4%;
    z-index: 1;
}

.btn.btn-primary:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2F82FF;
    z-index: -2;
}

.btn.btn-primary:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #ffffff;
    transition: all .3s;
    z-index: -1;
}

.btn.btn-primary:hover {
    color: #2F82FF;
}

.btn.btn-primary:hover:before {
    width: 100%;
}

form fieldset {
    border-radius: 0 20px 0 20px !important;
}